<nav class="nav-menu">
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="activities">Activities</NavLink></li>
        <li><NavLink href="symbolprofiles">Symbol Profiles</NavLink></li>
    </ul>
</nav>
