@page "/weather"
@using GhostfolioSidekick.Model
@using GhostfolioSidekick.Model.Accounts
@using PortfolioViewer.WASM.Clients
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (portfolio == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
}

@code {

    [Inject]
    private PortfolioClient PortfolioClient { get; set; }

    private Portfolio? portfolio;

    protected override async Task OnInitializedAsync()
    {
        portfolio = await PortfolioClient.GetPortfolio();
    }
}
