@page "/weather"
@using PortfolioViewer.Model
@using PortfolioViewer.WASM.Clients
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (portfolio == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var account in portfolio.Accounts)
        {
            <li>
                <strong>@account.Name</strong> (@account.Platform?.Name)
                @if (!string.IsNullOrEmpty(account.Comment))
                {
                    <p>@account.Comment</p>
                }
            </li>
        }
    </ul>
}

@code {

    [Inject]
    private PortfolioClient PortfolioClient { get; set; }

    private Portfolio? portfolio;

    protected override async Task OnInitializedAsync()
    {
        portfolio = await PortfolioClient.GetPortfolio();
    }
}
