**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Ignore dotnet publish outputs and build artifacts
**/publish/
**/publish-wasm/
**/publish-sidekick/

# Ignore certificates and secrets
#certs/
#*.pfx
#*.key

# User and IDE files
*.user
*.suo
*.log

# OS files
**/.DS_Store