**/.git
**/.gitignore
**/.gitattributes
.github

**/.vs
**/.vscode
**/*.*proj.user
**/*.user
**/*.suo
**/*.sln.docstates
**/*.userprefs
.idea/
**/.project
**/.settings
**/.toolstarget
**/.classpath

**/bin
**/obj
**/out/
**/TestResults/
**/coverage/
**/packages/
**/*.cache

**/Dockerfile*
**/docker-compose*
**/.dockerignore

**/node_modules
**/npm-debug.log
**/wwwroot/dist/
**/wwwroot/lib/

**/.env
**/secrets.dev.yaml
**/values.dev.yaml
**/azds.yaml

LICENSE
README.md
**/*.md
docs/

*.trx
*.coverage
*.coveragexml
**/*.dbmdl
**/*.jfm

**/charts

logs/
*.log

*.tmp
*.temp
*.swp
*.swo
*.bak

**/*.pfx
**/*.p12
**/*.crt
**/*.key
**/*.pem
!certs/aspnetapp.pfx

.DS_Store
Thumbs.db