@page "/"

<h3>Welcome to Ghostfolio Sidekick</h3>

<p>
    This is the home page of the Ghostfolio Sidekick Blazor application.
</p>

<ul>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/assets">Assets</a></li>
</ul>
