<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/assets">Assets</a></li>
        <li><a href="/accounts">Accounts</a></li>
        <li><a href="/symbols">Symbols</a></li>
        <li><a href="/assetpercentages">Asset Percentages</a></li>
    </ul>
</nav>

<style>
    nav {
        background-color: #343a40;
        color: white;
        padding: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin: 5px 0;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
