name: Cleanup PR Images

on:
  pull_request:
    types: [closed]

jobs:
  purge-image:
    name: Delete dev plugin container
    runs-on: ubuntu-latest
    steps:
      - name: delete pr-image
        continue-on-error: true
        run: |
            HUB_TOKEN=$(curl -s -H "Content-Type: application/json" -X POST -d "{\"username\": \"${{ secrets.DOCKERHUB_USERNAME }}\", \"password\": \"${{ secrets.DOCKERHUB_TOKEN }}\"}" https://hub.docker.com/v2/users/login/ | jq -r .token)
            curl -i -X DELETE \
              -H "Accept: application/json" \
              -H "Authorization: JWT $HUB_TOKEN" \
              https://hub.docker.com/v2/namespaces/vibenl/repositories/ghostfoliosidekick/tags/pr-${{ github.event.number }}
      - name: Dummy step to have green pipeline
        run: echo "Dummy step to have green pipeline"
